*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.topHeading{
  text-align: center;
}
.top-section{
  padding: 10px 20px;
}
.taskbar input{
outline: none;
padding-left: 10px;
height: 45px;
width: 30%
}
.main-container{
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.container-new{
  margin-right: 10px;
  background-color: #ededf7;
  height: 95vh;
  position: relative; 
  min-height: 200px; 
}
.taskInfo{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.newTasks{
  background-color: white !important;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 3.1fr 0.9fr;
  grid-gap: 10px;
  align-items: center;
  border-radius: 10px;
}

.fa-trash{
  background-color: #ededf7;
  padding: 10px;
  color: red;
  border-radius: 5px;
  cursor: pointer;
}
.fa-pencil{
  background-color: #ededf7;
  padding: 10px;
  border-radius: 5px;
}

.no-tasks-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 24px; 
  color: black; 
}

.container-ongoing {
  position: relative; 
  min-height: 200px; 
  background-color: #bababa;
  margin-right: 10px;
}
.integator{
  height: 15px;
  width: 15px;
  background-color: #f7d000;
  border-radius: 50%;
}
.ongoingTasks{
  background-color: white !important;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 3.1fr 0.9fr;
  grid-gap: 5px;
  align-items: center;
  border-radius: 10px;
}
.taskIntegator{
  display: flex;
  align-items: center;
}
.taskIntegator article{
margin-left: 5px;
}
.container-done{
  background-color: rgb(212, 212, 212);
  height: 95vh;
}
.doneIntegator{
  height: 15px;
  width: 15px;
  background-color: #158706;
  border-radius: 50%;
}
.doneTasks{
  background-color: white !important;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 3.3fr 0.7fr;
  grid-gap: 5px;
  align-items: center;
  border-radius: 10px;
}
.doneTaskIntegator{
  display: flex;
  align-items: center;
}
.doneTaskIntegator article{
margin-left: 5px;
}
.addTasks{
  padding: 10px 20px;
}
.addTask{
  width: 70%;
}
.addTask input{
 margin-bottom: 10px;
 height: 40px;
}
.addTask input, textarea{
  width: 100%;
  padding-left: 10px;
  outline: none;
}
.addTask button{
  border: none;
  background-color: aqua;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
}
.addTaskBtn{
  margin-left: 10px;
}
.addTaskBtn a{
  text-decoration: none !important;
  color: black;
  }
  .addTaskBtn button{
  background-color: aqua;
  padding: 10px 20px;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  }
  .taskintegator{
    height: 15px;
    width: 15px;
    background-color: #4106ca;
    border-radius: 50%;
  }
  .taskStatus{
display: flex;
align-items: center;
  }
.editTasks{
  padding: 10px 20px;
}
.editTask{
  width: 70%;
}
.editTask input{
 margin-bottom: 10px;
 height: 40px;
}
.editTask input, textarea{
  width: 100%;
  padding-left: 10px;
  outline: none;
}
.editTask button{
  border: none;
  background-color: aqua;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
}
.contextMenu {
  position: fixed;
  background-color: white;
  border: 1px solid black;
  z-index: 1000;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contextMenu div {
  padding: 8px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.contextMenu div:hover, .contextMenu div:focus{
  background-color: orangered;
}
/* Media Query */
